.container {
  padding-top: 100px;
  background: beige;
  height: 100vh;
  display: flex;
}

.item {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.item1 {
  background: #ef9a9a;
  flex-grow: 1;
  flex-shrink: 1;
  /* flex-basis: 30% */
  align-self: center;
}

.item2 {
  background: #ce93d8;
  flex-grow: 1;
  flex-shrink: 2;
  /* flex-basis: 60% */
}

.item3 {
  background: #90caf9;
  flex-grow: 1;
  flex-shrink: 1;
}