.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px
}

.join_row .green {
  color: #08a600
}

.row_group {
  overflow: hidden;
  width: 100%
}

.row_group+.row_group {
  margin-top: 20px
}

.ps_box+.ps_box {
  margin-top: 10px
}

.ps_box,.ps_box_disable {
  display: block;
  position: relative;
  width: 100%;
  height: 51px;
  border: solid 1px #dadada;
  padding: 10px 110px 10px 14px;
  background: #fff;
  box-sizing: border-box;
  /* vertical-align: top; */
}

.ps_box .lbl {
  left: 0;
  padding: 0 14px;
  width: 100%;
  box-sizing: border-box
}

.ps_box.int_id,.ps_box.int_id input {
  background: #fff;
  outline: 0
}

.ps_box.int_pass_step1 {
  padding: 10px 93px 10px 14px
}

.ps_box.int_pass_step2,.ps_box.int_pass_step3,.ps_box.int_pass_step4 {
  padding: 10px 85px 10px 14px
}

.ps_box.int_pass:after,.ps_box.int_pass_check2:after,.ps_box.int_pass_check:after,.ps_box.int_pass_step1:after,.ps_box.int_pass_step2:after,.ps_box.int_pass_step3:after,.ps_box.int_pass_step4:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 13px;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  background-image: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 125px 75px;
  cursor: pointer
}


.ps_box.int_pass:after {
  background-position: 0 0
}

.ps_box.int_pass_step1:after {
  background-position: -27px -27px
}

.ps_box.int_pass_step2:after {
  background-position: 0 -27px
}

.ps_box.int_pass_step3:after {
  background-position: -54px -27px
}

.ps_box.int_pass_step4:after {
  background-position: -54px 0
}

.ps_box.int_pass_check:after {
  background-position: -27px 0
}

.ps_box.int_pass_check2:after {
  background-position: -81px 0
}

.ps_box.accord,.ps_box.focus {
  border: solid 1px #03c75a
}

.ps_box.discord {
  border: solid 1px red
}

html[lang=en] .ps_box.accord,html[lang=en] .ps_box.discord {
  padding-right: 90px
}

.ps_box.int_pass,.ps_box.int_pass_check,.ps_box.int_pass_check2 {
  padding-right: 40px
}

.join_birthday .ps_box {
  padding: 11px 14px
}

.ps_box.accord ::-webkit-input-placeholder,.ps_box.discord ::-webkit-input-placeholder {
  color: #333
}

.ps_box.accord ::-moz-placeholder,.ps_box.discord ::-moz-placeholder {
  color: #333
}

.ps_box.accord input:-ms-input-placeholder,.ps_box.discord input:-ms-input-placeholder {
  color: #333
}

.ps_box.accord input:-moz-placeholder,.ps_box.discord input:-moz-placeholder {
  color: #333
}

input.int:-ms-input-placeholder {
  color: #8e8e8e
}

.int {
  display: block;
  position: relative;
  width: 100%;
  height: 29px;
  padding-right: 25px;
  line-height: 29px;
  border: none;
  background: #fff;
  font-size: 15px;
  box-sizing: border-box;
  z-index: 10;
  *position: absolute;
  *top: 0;
  *left: 0;
  appearance: none;  /*  apperance:none; */
  -webkit-apperance: none;
}

.ps_box.int_id, .ps_box.int_id input {
  background: #fff;
  outline: 0;
}

.ps_box, .ps_box_disable {
  display: block;
  position: relative;
  width: 100%;
  height: 51px;
  border: solid 1px #dadada;
  padding: 10px 110px 10px 14px;
  background: #fff;
  box-sizing: border-box;
  /* vertical-align: top; */
}

*, ::before, ::after {
  --tw-border-spacing-x:  0;
  --tw-border-spacing-y:  0;
  --tw-translate-x:  0;
  --tw-translate-y:  0;
  --tw-rotate:  0;
  --tw-skew-x:  0;
  --tw-skew-y:  0;
  --tw-scale-x:  1;
  --tw-scale-y:  1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness:  proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width:  0px;
  --tw-ring-offset-color:  #fff;
  --tw-ring-color:  rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow:  0 0 #0000;
  --tw-ring-shadow:  0 0 #0000;
  --tw-shadow:  0 0 #0000;
  --tw-shadow-colored:  0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
