/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.main_wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.header_bar {
  background-color: #FFFFFF;
  color: #222226;
  padding: 12px 0px 12px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  position: fixed;
  top: 0;

  z-index: 1;
}

.menu {
  margin-left: 100px;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: black;
}

.logo {
  margin-right: 222px;
}

.search {
  margin-right: 100px;
}

.search i {
  font-size: 20px;
}

/*  ------------------------------------------------------------------------------------------------------------------------------ */


.contents {
  display: flex;
  width: 100%;
  height: 600%;
}


.left_content {
  position: relative;
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  height: 100%;
}

.left_content img {
  width: 100%;
  height: 100%;
}

.right_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 300px;
  left: 700px;

  float: right;
  width: 50%;
  height: 18%;
}

.content_text {
  display: flex;
  text-align: center;
  flex-direction: column;

  position: relative;
  font-size: 40px;
  line-height: 1.5;
}

.content_text a {
  margin-left: 60px;
  margin-right: 60px;
}

.content_2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #efca57;

  padding-bottom: 100px;

  width: 100%;
  height: 50%;
}

.content_2_title {
  display: flex;
  flex-direction: column;
  text-align: center;

  font-weight: bold;
  font-size: 50px;
  margin: 150px 0 40px 0;
}

.content_2_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  margin-left: 280px;;

  line-height: 1.3;

  font-size: 28px;
  width: 60%;
  height: 30%;
}
