body {
  margin: 0;
  padding: 0;
}

.boxoffice_rank {
  margin-top: 100px;
}

.box_title {
  margin-left: 40px;
  color: #292a32;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 22px;
  font-weight: 700;
}

.boxoffice_list {
  display: flex;
  justify-content: center;
  position: relative;
  list-style-type: none;
  padding-bottom: 20px;
}

/* <-----------------------------------------------------------------------------------------------------> */

.movie {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.movie div {
  font-size: 13px;
  margin-bottom: 5px;
}

.special {
  border: 1px solid grey;
}

.sub_title {
  font-size: 16px;
  color: black;
  font-weight: bold;
}


.movie_rank {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;

  flex-direction: column;
  background-color: black;
  color: white;
  width: 30px;
  height: 30px;

  position: absolute;
  margin: 5px;
}

.movie_img img {
  border-radius: 5px;
}

.ott_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-weight: bold;
  width: 30px;
  height: 30px; 

  flex-direction: column;
  background-color: white;


  position: absolute;
  margin: 5px;
  margin-left: 215px;
}


/* <-----------------------------------------------------------------------------------------------------> */


.footer {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 12px;
  background-color: #1c1d1f;
  padding: 0;
}

.footer_text {
  margin-left: 30px;
  margin-top: 20px;
}

.footer a {
  color: #a5a5a7;
}

.footer_end {
  margin-bottom: 30px;
}

.footer_banner {
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.footer_banner strong {
  color: #ff0358;
}

.language {
  margin-left: auto;
  margin-right: 50px;
  margin-top: 20px;
}

.language_button {
  background: none;
  padding: 0;
  border: none;
  margin: 0;
  cursor: pointer;
  color: #7e7e7e;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  text-align: left;
  box-sizing: border-box;
  width: 117px;
  height: 30px;
  padding: 2.5px 15px;
  border: solid 1px #848485;
  border-radius: 2px;
}

.language_button:focus {
  outline: none;
}