/* ===== 배경화면 사진 설정 ===== */

.intro {
  position: relative;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* ===== 배경 사진을 어둡게 ===== */

.intro__dark {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
}

/* ===== 텍스트 ===== */

.intro__type {
  display: inline-flex;
  gap: 0.32em;
  font-family: var(--font-code);
  font-size: 2.8em;
  font-weight: bold;
  color: white;
}

/* ===== 깜빡이 애니메이션 ===== */

@keyframes blink {
  from { opacity: 0;}
  to { opacity: 1; }
}
.intro__type .underscore {
  animation-name: blink;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* ===== 하단부 도형 ===== */

[class^="intro__tilt"] {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: var(--color-main);
  clip-path: polygon(100% 90%, 100% 100%, 0 100%, 0 0);
}

.intro__tilt--flip {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 90%);
  opacity: 0.5;
}


/* ===== 모바일 설정 ===== */

@media (max-width: 768px) {
  .intro {
    height: 100vh;
  }
  .intro__type {
    margin-top: 36vh;
    flex-direction: column;
    text-align: left;
  }
}

/* ===== 데스크탑 설정 ===== */

@media (min-width: 769px) {
  .intro {
    height: 500px;
  }
  .intro__type {
    margin-top: 80px;
    align-items: center;
  }
  .intro__type span {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.25em;
  }
}
