.title {
  font-family: var(--font-code);
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: var(--color-sub);
  color: white;
  padding: 10px;
}

.explain {
  padding: 20px;
  font-family: 'Alkatra', cursive;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Dongle', sans-serif;
  font-family: 'Gugi', cursive;
  font-family: 'Nanum Pen Script', cursive;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--color-light-bg);
}

.red {
  color: var(--color-emph);
}

.blue {
  color: var(--color-blue);
}


.example_code {
  font-size: var(--font-size-smaller);
}

th, td {
  border: 1px solid #444444;
  padding: 10px;
  text-align: center;
}

#table img {
  width: 50%;
}

@media (max-width: 768px) {
  table {
    width: 80%;
    border: 1px solid #444444;
    border-collapse: collapse;
  }
  .explain {
    font-size: 90%;
  }
}

@media (min-width: 769px) {
  table {
    width: 50%;
    border: 1px solid #444444;
    border-collapse: collapse;
  }
  .explain {
    font-size: 110%;
  }
}
